ul {
    padding: 10px;
}
body {
    background-color: hwb(24 55% 38%);
}
h2 {
    text-align: center;
    font-family: "Gamja Flower", sans-serif;
  }
  article {
    text-align: center;
    padding: 10px;
  }
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
header {
    text-align: center;
    padding: 20px 0px 0px 0px;
}
